<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">

        <!-- Team settings -->
        <div class="col-md-12">
            <div class="p-3 py-1">
                <div class="d-flex justify-content-between align-items-center mb-3 border-bottom">
                    <h4 class="text-right">Create a Team</h4>
                    <span id="logoPreviewWindow">logo preview</span>
                </div>

                <form [formGroup]="teamForm" (ngSubmit)="submitForm()">

                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Team Name</label>
                            <input formControlName="team_name" type="text" class="form-control" placeholder="Select a Team name" value="">
                            <small id="teamNameHelp" class="form-text text-muted">This is how your team shall be named from now on.</small>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Team Logo</label>
                            <input formControlName="team_logo" type="file" class="form-control">
                            <small id="teamLogoHelp" class="form-text text-muted">.png or .jpg max. 1.5 MB size</small>
                        </div>
                    </div> 


                    <!-- MEMEBER EMAILS -->
                    <div class="d-flex justify-content-between align-items-center mt-5 border-bottom">
                        <h6 class="text-right">Add Members</h6>
                        <span class="badge bg-primary">{{ emails.length }}</span>
                    </div>

                    <form [formGroup]="emailForm" (ngSubmit)="addEmail()">
                        <div class="row mt-3">
                            <div class="col-md-10">
                                <input formControlName="member_email" type="email" class="form-control">
                                
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-secondary w-100" (ngSubmit)="addEmail()">add email</button>
                            </div>
                        </div>
                    </form>

                    <!-- display the entered emails below -->
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <span class="badge bg-secondary mx-1" *ngFor="let email of emails">{{ email }}</span>
                        </div>
                    </div>
                    


                    <!-- METRICS -->
                    <div class="d-flex justify-content-between align-items-center mt-5 border-bottom">
                        <h6 class="text-right">Metrics</h6>
                        <!-- <span class="badge bg-success pointer" (click)="reload_metrics()" >Refresh</span> -->
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select formControlName="use_moral_metric" class="form-control" id="exampleFormControlSelect1">
                                    <option value="" selected disabled hidden>Choose Metric</option>
                                    <option *ngFor="let metric of metrics">{{ metric.name }}</option>
                                </select>
                              </div>

                        </div>
                    </div>

                    <div class="mt-5 text-center"><button class="btn btn-primary" type="submit">Create Team</button></div>
                </form>
            </div>
        </div>

    </div>
</div>
