<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">

        <!-- Icon TODO -->
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="{{ currentUser.icon_path }}">
                <span class="font-weight-bold">{{ currentUser.username }}</span>
                <span class="text-black-50">{{ currentUser.email }}</span>
                <span></span></div>
        </div>

        <!-- User settings -->
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Name</label>
                            <input formControlName="username" type="text" class="form-control" placeholder="{{ currentUser.username }}" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Title / Position</label>
                            <input formControlName="position" type="text" class="form-control" placeholder="{{ currentUser.position }}" value="">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Bio</label>
                            <input formControlName="bio" type="text" class="form-control" placeholder="{{ currentUser.bio }}" value="">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Email ID</label>
                            <input type="text" class="form-control" value="{{ currentUser.email }}" readonly>
                        </div>
                    </div>
                    <!--
                        TODO create a new team from here!!! 
                    <div class="row mt-3"> 
                        <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                    </div>
                    -->
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Update Profile</button></div>
                </form>
            </div>
        </div>


        <!-- Boards and maybe team settings?
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <h4 class="text text-right">Retro Boards</h4>
                </div><br>

                <ul class="list-group">
                    <li *ngFor="board in currentProfile.boards" class="list-group-item"></li>
                </ul>


                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>
        -->
    </div>
</div>
