<div class="container">

    <div class="row mt-3">

        <!-- <div class="col-md-6 col-xl-3"> -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <h5 class="card-title border-bottom">{{ currentUser.username }}</h5>
                        <div class="col-6">
                            <h5 class="text-muted fw-normal mt-0 text-truncate small">registered since:</h5>
                        </div>
                        <div class="col-6">
                            <p class="text-muted fw-normal mt-0 text-truncate small">{{ currentUser.registered_at }}</p>
                        </div>
                    </div>
                    <!-- <img class="rounded-circle mt-5" width="150px" src="{{ currentUser.icon_path }}"> -->
                    <a href="#" [routerLink]="['/settings', currentUser.username]" class="link-primary small">update Profile</a>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title border-bottom">Team</h5>
                    <div class="row align-items-center">
                        <div class="col-12">
                            <p class="text-muted fw-normal mt-0 text-truncate small">Create a team to better track progress!</p>
                        </div>
                    </div>
                    
                    <a href="#" class="link-primary small" [routerLink]="['/add_team']">create Team</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title border-bottom">Boards</h5>
                    <div class="row align-items-center">
                        <div class="col-6">
                            <p class="card-text text-muted small"># of retro boards:</p>
                        </div>
                        <div class="col-6">
                            <p class="text-muted fw-normal mt-0 text-truncate small">{{ (currentUser.boards) ? currentUser.boards.length : 0 }}</p>
                        </div>
                    </div>
                    <a href="#" class="link-primary small">create Board</a>
                </div>
            </div>
        </div>
        
    </div>


    <div *ngIf="!currentUser.email_validated" class="row mt-3">
        <a href="#">        
            <div class="col-12">
                <div class="card bg-success">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <p style="text-decoration: none; color: white;">Confirm Email Address</p>
                        </h5>
                    </div>
                </div>
            </div>
        </a>
    </div>


    <div class="row mt-3">

        <!-- TODO set fixed height and scrolling -->
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title border-bottom">Retros</h5>
                    <!-- <ul class="list-group">
                        <li *ngFor="let board in currentUser.boards" class="list-group-item">{{ board.name }}</li>
                    </ul> -->
                </div>
            </div>

        </div>

    </div>

</div>
