/* Habitodo global styles --> can be corporate design at some point */

:root {
    --habitodo-sand: #CDC392;
    --habitodo-light: #E8E5DA;
    --habitodo-light-blue: #9EB7E5;
    --habitodo-blue: #648DE5;
    --habitodo-dark-blue: #304C89;
    --habitodo-backdrop: rgba(173,230,216, 0.25);
}

/* No rounded edges for forms or buttons */

.card {
    border-radius: 0px !important;
    /* border-left: 3px solid var(--habitodo-dark-blue); */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-header {
    border-radius: 0px !important;
}

.card-header>a { color: black; font-style: italic; }
.card-header>a:hover { color: var(--habitodo-dark-blue); }

.card-fixed-height {
    max-height: 150px !important; min-height: 150px !important;
}

.habitodo-bg-lightblue {
    background-color: var(--habitodo-light-blue) !important;
}

.user-background {
    background-image: url("assets/google_icons/person_FILL1_wght400_GRAD0_opsz48.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}


.form-control {
    border-radius: 0px !important;
}

.btn {
    border-radius: 0px !important;
}

.badge.bg-secondary {
    cursor: pointer;
}