/* You can add global styles to this file, and also import other style files */

:root {
    --habitodo-sand: #CDC392;
    --habitodo-light: #E8E5DA;
    --habitodo-light-blue: #9EB7E5;
    --habitodo-blue: #648DE5;
    --habitodo-dark-blue: #304C89;
    --habitodo-backdrop: rgba(173,230,216, 0.25);
}

.card {
    border-radius: 0px !important;
}