/* Habitodo global styles --> can be corporate design at some point */

:root {
    --habitodo-sand: #CDC392;
    --habitodo-light: #E8E5DA;
    --habitodo-light-blue: #9EB7E5;
    --habitodo-blue: #648DE5;
    --habitodo-dark-blue: #304C89;
    --habitodo-backdrop: rgba(173,230,216, 0.25);
}

/* No rounded edges for forms or buttons */

.card {
    border-radius: 0px !important;
}

.card-fixed-height {
    max-height: 150px !important; min-height: 150px !important;
}


.form-control {
    border-radius: 0px !important;
}

.btn {
    border-radius: 0px !important;
}